body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.two-thirds-width {
	width: 67%;
}

.half-width {
	width: 50%;
}

.full-width {
	width: 100%;
}

.padding20 {
	padding: 20px;
}

input { 
    text-align: center; 
}

body {
	text-align: center;
}

.font-normal {
	font-size: 1.5em;	
}

.tag-button {
	margin: 2px;
	border-radius: 5px;
}

.margin {
	margin:20px;
}

.summary-item {
	border:solid;
	border-color: lightgray;
}

.search-tag {
	margin-right:2px;
}

.bootstrap-blue {
	color: #337ab7;
}

